@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Personal Home Budget using Asp.NET Core 2.1 and Entity Framework core. </p>
<p>Application with Highcharts is showing the expense summary chart and a modal dialog to handle the user inputs.</p>
